* {
  font-family: "Roboto Mono", monospace;
}

body {
  background: hsl(242, 86%, 25%) !important;
  background: linear-gradient(
    180deg,
    rgba(12, 9, 121, 1) 4%,
    rgba(35, 83, 180, 1) 30%,
    rgba(153, 187, 255, 1) 100%
  ) !important;
}

.custom-share-button {
  display: inline-flex;
}

.custom-share-button:hover {
  opacity: 0.7;
}

.custom-share-button p {
  padding: 0 0 0 12px;
}

.custom-share-icon rect {
  fill: hsl(207, 73%, 57%);
}

.custom-share-button p:hover {
  text-decoration: underline;
}

.container {
  box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.2),
    2px 4px 4px hsl(220deg 60% 50% / 0.2), 4px 8px 8px hsl(220deg 60% 50% / 0.2),
    8px 16px 16px hsl(220deg 60% 50% / 0.2),
    16px 32px 32px hsl(220deg 60% 50% / 0.2);
}

.posts {
  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.2),
    2px 4px 4px hsl(var(--shadow-color) / 0.2),
    4px 8px 8px hsl(var(--shadow-color) / 0.2),
    8px 16px 16px hsl(var(--shadow-color) / 0.2),
    16px 32px 32px hsl(var(--shadow-color) / 0.2);
}

input {
  overflow: scroll !important;
}

p {
  font-size: 1.2rem;
}

#drawer svg {
  width: 3rem;
  height: 3rem;
}

.hover_view:hover {
  background-color: red;
}

.icon-text {
  margin-left: 10px;
}

.copy-button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .custom-info-input {
    display: none !important;
  }
}
